<h1>{{name}}</h1>
<p class="flag">It is one of Canada Province that has its own flag. It is called: {{name}}</p>
<p class="flag">{{name}} is like the other flags of other provinces that carry history in its symbols and colors.</p>