<h1>{{name}}</h1>
<p class="flag">It is one of Canada Provinces flags. It is called:</p>
<h3 id="flagName">{{name}}, {{name}}</h3>
<p class="flag">is like the other flags of other provinces that carries history representing in its symbols and colors.
</p>