body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: aqua;
  background-color: brown;
}

a {
  color: #00B7FF;
}
.flag{
color:wheat;
}
#flagName{
  color:yellowgreen;
  font-style: oblique;
}